<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>index</title>
    <link rel="icon" href="img/pic_logo_3.png" type="image/x-ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="page">
		<div id="wrapper" class="clearfix" :class = "isCollapse ? 'wrapper-sm' : 'wrapper-lg'">
			<div id="slideBar">
				<div class="slideLogo" @click="collapse"></div>
				<el-menu :default-active="$route.path"
						 @open="handleOpen"
						 @close="handleClose"
						 :collapse="isCollapse"
						 router
			    >
					<el-menu-item index="/mining">
						<i class="icon iconMining"></i>
						<span class="menu-title" slot="title">交易挖矿</span>
					</el-menu-item>
					<el-submenu index="3">
						<template slot="title">
							<i class="icon iconPersonal"></i>
							<span class="menu-title" slot="title">个人中心</span>
						</template>
						<el-menu-item class="menu-title" index="/invite">
							邀请好友
						</el-menu-item>
					</el-submenu>
					<el-menu-item index="/finance">
						<i class="icon iconFinance"></i>
						<span class="menu-title" slot="title">财务管理</span>
					</el-menu-item>
				</el-menu>
			</div>
			<div id="content">
				<div id="topBar" class="clearfix">
					<el-breadcrumb class="pull-left" separator-class="el-icon-arrow-right">
						<el-breadcrumb-item :to="{ path: '/' }">交易挖矿</el-breadcrumb-item>
						<el-breadcrumb-item>选择平台</el-breadcrumb-item>
					</el-breadcrumb>
					<div class="pull-right user">
						<el-dropdown @command="handleCommand">
						  <span class="el-dropdown-link">
						    用户名 <img class="avatar" :src="avatar">
						  </span>
						  <el-dropdown-menu slot="dropdown">
						  	<el-dropdown-item command="account">我的账户</el-dropdown-item>
						    <el-dropdown-item command="logout">退出登录</el-dropdown-item>
						  </el-dropdown-menu>
						</el-dropdown>
					</div>
				</div>
				<div id="main">
					<router-view></router-view>
				</div>
			</div>
		</div>
	</div>

	<template id="mining">
	    <div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="mining mainblock">
					<el-form ref="miningForm" :model="miningForm" class="form-horizontal">
						<div class="form-group">
						    <label class="col-sm-4 control-label">挖矿方式：</label>
						    <div class="col-sm-8 border-bottom">
						        <div class="row">
						        	<div class="col-sm-4">
						        		<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_way" id="mining_way1">
							        		<label for="mining_way1" class="radiobox">同时买卖1</label>
							        	</div>
						        	</div>
						        	<div class="col-sm-4">
						        		<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_way" id="mining_way2">
							        		<label for="mining_way2" class="radiobox">同时买卖2</label>
							        	</div>
						        	</div>
						        </div>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-4 control-label">参数设置（买入价）：</label>
						    <div class="col-sm-8 border-bottom">
						        <div class="row">
						        	<div class="col-sm-12">
						        		<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_buy" id="mining_buy1">
							        		<label for="mining_buy1" class="radiobox"></label>
							        		<p class="pull-left">
							        			低于市场卖出价<input type="text" class="form-control input-sm count" value="999">
							        			个深度平均值<input type="text" class="form-control input-sm count" value="999">
							        		</p>
							        	</div>
						        		<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_buy" id="mining_buy2">
							        		<label for="mining_buy2" class="radiobox"></label>
							        		<p class="pull-left">
								        		高于市场卖出价<input type="text" class="form-control input-sm count" value="999">
								        		个深度平均值<input type="text" class="form-control input-sm count" value="999">
							        		</p>
							        	</div>
						        	</div>
						        </div>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-4 control-label">参数设置（卖出价）：</label>
						    <div class="col-sm-8 border-bottom">
						        <div class="row">
						        	<div class="col-sm-12">
						        		<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_sell" id="mining_sell1">
							        		<label for="mining_sell1" class="radiobox"></label>
							        		<p class="pull-left">
							        			低于市场卖出价<input type="text" class="form-control input-sm count" value="999">
							        			个深度平均值<input type="text" class="form-control input-sm count" value="999">
							        		</p>
							        	</div>
						        		<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_sell" id="mining_sell2">
							        		<label for="mining_sell2" class="radiobox"></label>
							        		<p class="pull-left">
								        		高于市场卖出价<input type="text" class="form-control input-sm count" value="999">
								        		个深度平均值<input type="text" class="form-control input-sm count" value="999">
							        		</p>
							        	</div>
						        		<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_sell" id="mining_sell3">
							        		<label for="mining_sell3" class="radiobox"></label>
							        		<p class="pull-left">
								        		买入价格同价卖出
							        		</p>
							        	</div>
						        	</div>
						        </div>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-4 control-label">单笔交易数量：</label>
						    <div class="col-sm-8 border-bottom">
						        <div class="row">
						        	<div class="col-sm-6">
						        		<div class="form-group">
							        		<input type="text" class="form-control input-sm" value="999">
							        	</div>
						        	</div>
						        </div>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-4 control-label">挖矿开启条件：</label>
						    <div class="col-sm-8 border-bottom">
						        <div class="row">
						        	<div class="col-sm-12">
						        		<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_open" id="mining_open1">
							        		<label for="mining_open1" class="radiobox"></label>
							        		<p class="pull-left">
								        		实时委托
							        		</p>
							        	</div>
							        	<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_open" id="mining_open2">
							        		<label for="mining_open2" class="radiobox"></label>
							        		<p class="pull-left">
								        		买入价格 - 卖出价格 < 卖出价格 * <input type="text" class="form-control input-sm count" value="0.05">%<br>
								        		（请设置低于矿工费，否则可能亏损）
							        		</p>
							        	</div>
						        	</div>
						        </div>
						    </div>
						</div>
						<div class="form-group">
						    <label class="col-sm-4 control-label">挖矿关闭条件：</label>
						    <div class="col-sm-8 border-bottom">
						        <div class="row">
						        	<div class="col-sm-12">
							        	<div class="form-group">
							        		<p>
								        		<input type="text" class="form-control input-sm count" value="5">秒后未成交部分
							        		</p>
							        	</div>
							        	<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_close" id="mining_close1">
							        		<label for="mining_close1" class="radiobox"></label>
							        		<p class="pull-left">
								        		市场成交
							        		</p>
							        	</div>
							        	<div class="form-group">
							        		<input type="radio" class="radioinput" name="mining_close" id="mining_close2">
							        		<label for="mining_close2" class="radiobox"></label>
							        		<p class="pull-left">
								        		低于买入价 + <input type="text" class="form-control input-sm count" value="0.04">%卖出
							        		</p>
							        	</div>
						        	</div>
						        </div>
						    </div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-3 col-sm-offset-3">
							      <el-button type="danger">停止</el-button>
							    </div>
							    <div class="col-sm-3 col-sm-offset-1">
							      <el-button type="success">启动</el-button>
							    </div>
						    </div>
						</div>
					</el-form >
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="response mainblock">
					右边的大框
				</div>
			</div>
		</div>
	</template>
	<template id="invite">
	    <div class="invite mainblock">
			<h1 class="invite-title">我的邀请码 <span class="text-primary">{{invitation_code}}</span></h1>
			<el-table
		      :data="inviter">
		      <el-table-column
			    type="index">
			  </el-table-column>
		      <el-table-column
		        prop="username"
		        label="受邀人">
		      </el-table-column>
		      <el-table-column
		        prop="time"
		        label="受邀时间">
		      </el-table-column>
		      <el-table-column
		        prop="totle_price"
		        label="返佣总数">
		      </el-table-column>
		      <el-table-column>
		      	<template slot-scope="scope">
		      		<router-link to="/detail">
			        	<el-button type="primary" size="mini">明细</el-button>
			        </router-link>
			    </template>
		      </el-table-column>
		    </el-table>
			<div class="block">
			    <el-pagination
			      @size-change="handleSizeChange"
			      @current-change="handleCurrentChange"
			      :current-page.sync="currentPage"
			      :page-size="100"
			      layout="prev, pager, next, jumper"
			      :total="1000">
			    </el-pagination>
			</div>
		</div>
	</template>
	<template id="detail">
		<div class="invite mainblock">
			<el-table
		      :data="detail">
		      <el-table-column
			    type="index">
			  </el-table-column>
		      <el-table-column
		        prop="username"
		        label="姓名">
		      </el-table-column>
		      <el-table-column
		        prop="time"
		        label="时间">
		      </el-table-column>
		      <el-table-column
		        prop="money"
		        label="充值">
		      </el-table-column>
		      <el-table-column
		        prop="commission"
		        label="返佣">
		      </el-table-column>
		    </el-table>
			<div class="block">
			    <el-pagination
			      @size-change="handleSizeChange"
			      @current-change="handleCurrentChange"
			      :current-page.sync="currentPage"
			      :page-size="100"
			      layout="prev, pager, next, jumper"
			      :total="1000">
			    </el-pagination>
			</div>
		</div>
	</template>
	<template id="finance">
	    <div class="invite mainblock">
			<h1 class="invite-title">我的账户 <span>【余额 <span class="text-primary">{{balance}}</span>】</span></h1>
			<div class="copy-wrap clearfix">
				<el-button type="primary" class="btn_fuzhi pull-left" data-clipboard-action="copy" data-clipboard-target="#address">复制</el-button>
				<p id="address" class="address pull-left">{{recharge_address}}</p>
				<div class="pull-right">
					<el-select v-model="value" filterable placeholder="请选择记录类型">
					    <el-option
					      v-for="item in type"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					</el-select>
				</div>
			</div>
			<el-table
		      :data="account">
		      <el-table-column
			    type="index">
			  </el-table-column>
		      <el-table-column
		        prop="order_id"
		        label="订单号">
		      </el-table-column>
		      <el-table-column
		        prop="username"
		        label="账户">
		      </el-table-column>
		      <el-table-column
		        prop="typlatform_namepe"
		        label="平台">
		      </el-table-column>
		      <el-table-column
		        prop="referrer_phone"
		        label="上级">
		      </el-table-column>
		      <el-table-column
		        prop="type"
		        label="类型">
		      </el-table-column>
		      <el-table-column
		        prop="money"
		        label="数量（钱）">
		      </el-table-column>
		      <el-table-column
		        prop="balance"
		        label="余额">
		      </el-table-column>
		      <el-table-column
		        prop="time"
		        label="充值/扣款时间">
		      </el-table-column>
		      <el-table-column
		        prop="remark"
		        label="备注">
		      </el-table-column>
		      <el-table-column
		        prop="commission"
		        label="返佣">
		      </el-table-column>
		    </el-table>
			<div class="block">
			    <el-pagination
			      @size-change="handleSizeChange"
			      @current-change="handleCurrentChange"
			      :current-page.sync="currentPage"
			      :page-size="100"
			      layout="prev, pager, next, jumper"
			      :total="1000">
			    </el-pagination>
			</div>
		</div>
	</template>

    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/clipboard.js"></script>
    <script src="js/main.js"></script>
</body>

</html>